.mdl-layout__header{
    background-color: rebeccapurple
}

.mdl-layout__tab-bar-container .mdl-layout__tab-bar{
    background-color: rgb(189,189,189);
}

.mdl-layout__header-row
{
    padding: 0 16px 0 52px
}
.listlol{
    overflow: scroll;
    height: 100px;
}

.responsestyle{
    text-align: end;
    float: right;
    background-color:lightgray;
}
.speech{
    overflow: scroll;
}
